# <b>Data Science Tools and Ecosystem</b>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

Some of the popular languages that Data Scientists use are:
1. Python Programming Language 
2. R Programming Language 
3. Structured Query Language

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. pandas 
3. ggplot

<b> Objectives: </b>
* Learn Different Opensource IDE 
* List of Data Science languages 
* Learn Libraries for Data Science 
* Application Programming Interface (API)
* Data Asset Exchange

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks | 
| R Studios |
| ApacheSpark |

### <b>Below are a few examples of evaluating arithmetic expressions in Python</b>

In [14]:
eval("5+4")

9

In [11]:
print(5**9)

1953125

In [12]:
# This is a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [13]:
# This is another way to do the arithmetic expression if the data type is in string format 
eval("(3*4)+5")

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hrs = min/60
hrs

3.3333333333333335

## <b>Author</b>
Puspa Khaerani