<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# **Data Science Tools and Ecosystem**

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

**Objectives:**
* Learn Different Opensource IDE 
* List of Data Science languages 
* Learn Libraries for Data Science 
* Application Programming Interface (API)
* Data Asset Exchange

Some of the popular languages that Data Scientists use are:
1. Python Programming Language 
2. R Programming Language 
3. Structured Query Language

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. pandas 
3. ggplot

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks | 
| R Studios |
| ApacheSpark |

### **Below are a few examples of evaluating arithmetic expressions in Python**

In [3]:
eval("5+4")

9

In [4]:
print(5**9)

1953125

In [5]:
5**9

1953125

In [6]:
# This is a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [8]:
# This is another way to do the arithmetic expression if the data type is in string format
eval("(3*4)+5")

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hrs = min/60
hrs

3.3333333333333335

## **Author**
Puspa Khaerani

Please use this link []() to open it in GitHub